* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}

#root {
	height: 100vh;
}

.brand-logo {
	border-radius: 50px;
}

.brand-name {
	font-size: 26px;
}

.nav-item {
	font-size: 24px;
	margin-bottom: 8px;
}

.temp-box {
	background-color: rgba(255, 255, 255, 0.2);

	width: 1000px;
}

.custom-select {
	background-color: rgba(255, 255, 255, 0.2);
}

.informations {
	height: 60px;
}

.info-box {
	height: 270px;
}

.author {
	color: white;
}

.ikon-weather {
	height: 150px;
	width: 150px;
}

.capitalize {
	text-transform: capitalize;
}

.img-slider {
	width: 50px;
	height: 50px;
}

.weather-slider {
	background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}
