* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}

main {
	height: 100%;
}

.brand-logo {
	border-radius: 50px;
}

.brand-name {
	font-size: 26px;
}

.nav-item {
	font-size: 24px;
	margin-bottom: 8px;
}

.temp-box {
	background-color: rgba(255, 255, 255, 0.2);
	
	width: 1000px;
}

.informations {
	height: 60px;
}

.info-box {
	height: 270px;
}

.author {
	color: white;
}
